<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" (click)="this.router.navigateByUrl('home')"></ion-icon>
    </ion-buttons>
    <ion-title>Cardio</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="home" (click)="this.router.navigateByUrl('home')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)" [scrollable]="true">
    <ion-segment-button value="sin_equipamiento">
      <ion-label>Sin equipo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="con_equipamiento">
      <ion-label>Con equipo</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'sin_equipamiento'">
    <ion-card *ngFor="let item of sin_equipamiento" style="margin-bottom: 20px;">
      <ion-card-header>
        <ion-card-subtitle style="font-size: 20px; text-align: center;">{{ item.t }}</ion-card-subtitle>
      </ion-card-header>
      <div *ngIf="item.i !== undefined" class="img">
        <img [src]="item.i" />
      </div>
    </ion-card>
  </div>

  <div *ngIf="segment === 'con_equipamiento'">
    <ion-card *ngFor="let item of con_equipamiento" style="margin-bottom: 20px;">
      <ion-card-header>
        <ion-card-subtitle style="font-size: 20px; text-align: center;">{{ item.t }}</ion-card-subtitle>
      </ion-card-header>
      <div *ngIf="item.i !== undefined" class="img">
        <img [src]="item.i" />
      </div>
    </ion-card>
  </div>
</ion-content>