<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" (click)="this.router.navigateByUrl('home/tren-superior')"></ion-icon>
    </ion-buttons>
    <ion-title>Pecho</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="home" (click)="this.router.navigateByUrl('home')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="peso-corporal">
    <ion-segment-button value="peso-corporal">
      <ion-label>Peso Corporal</ion-label>
    </ion-segment-button>
    <ion-segment-button value="barra">
      <ion-label>Barra</ion-label>
    </ion-segment-button>
    <ion-segment-button value="poleas">
      <ion-label>Poleas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mancuernas">
      <ion-label>Mancuernas</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div id="container">
    <ion-item *ngFor="let item of items" button>
      <ion-label>
        <h2>{{ item.t }}</h2>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
